/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
	70% {
		color: white;
	}

	to {
		color: white;
		background-color: orange;
	}
}

@keyframes blink-critical {
	70% {
		color: white;
	}

	to {
		color: white;
		background-color: red;
	}
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	background: none;
}

/* The whole bar */
window#waybar {
	color: white;
	font-family:
		Cantarell,
		Noto Sans,
		sans-serif;
	font-size: 13px;
	padding-left: 2px;
	padding-right: 2px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#backlight,
#disk,
#tray {
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	border: 1px solid white;
	background: rgba(50, 50, 50, 0.7);
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#batter.full {
	color: green;
}

#battery.warning {
	color: orange;
}

#battery.critical {
	color: red;
}

#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}

#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

#clock {
	font-weight: bold;
}

#cpu {
	/* No styles */
}

#cpu.warning {
	color: orange;
}

#cpu.critical {
	color: red;
}

#memory {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#memory.warning {
	color: orange;
}

#memory.critical {
	color: red;
	animation-name: blink-critical;
	animation-duration: 2s;
}

#mode {
	background: #64727d;
	border-top: 2px solid white;
	/* To compensate for the top border and still have vertical centering */
	padding-bottom: 2px;
}

#network {
	/* No styles */
}

#network.disconnected {
	color: orange;
}

#pulseaudio {
	/* No styles */
}

#pulseaudio.muted {
	/* No styles */
}

#custom-spotify {
	color: rgb(102, 220, 105);
}

#temperature {
	/* No styles */
}

#temperature.critical {
	color: red;
}

#tray {
	/* No styles */
}

#window {
	font-weight: bold;
	border: 1px solid white;
	border-radius: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background: rgba(50, 50, 50, 0.7);
}

#workspaces button {
	border: 2px solid grey;
	border-radius: 10px;
	/* To compensate for the top border and still have vertical centering */
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 5px;
	color: white;
}

#workspaces button.active {
	border-color: #570503;
	color: white;
	background-color: #910704;
}

#workspaces button.urgent {
	border-color: #c9545d;
	color: #c9545d;
}
